*{
  margin: 0;
  padding: 0;
}
.CaroImg img{ 
  max-height: 70vh;

}

.myProduct img{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.homeProduct img{
  max-height: 200px;
  min-height: 200px;
}
.carousel .thumbs{
  display: none;
}
.adsCard{
  margin: 10px;
}
.adsCard img{
  max-height: 150px;
  min-height: 150px;
  width: auto;
}
.drawer{
  z-index: 10;
}
.verifyIcon i{
  color: rgb(45, 3, 255);
}